@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Proba Pro Medium";   /*Can be any text*/
    src: local("Proba Pro"),
    url("./assets/fonts/proba-pro/ProbaPro-Medium.otf") format("truetype");
}

@font-face {
    font-family: "Proba Pro Bold";   /*Can be any text*/
    src: local("Proba Pro"),
    url("./assets/fonts/proba-pro/ProbaPro-Bold.otf") format("truetype");
}

@font-face {
    font-family: "Proba Pro Light";   /*Can be any text*/
    src: local("Proba Pro"),
    url("./assets/fonts/proba-pro/ProbaPro-Light.otf") format("truetype");
}

.proba-pro-medium {
    font-family: "Proba Pro Medium";
}

.proba-pro-bold {
    font-family: "Proba Pro Bold";
}

.proba-pro-light {
    font-family: "Proba Pro Light";
}

.footer button:hover {
    scale: 1.1;
    transition: 250ms;
}

html {
    scroll-behavior: smooth;
}